<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Pet Item</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Gender:</p>
		<input type ='radio'  name='gender' value ='Male'>Male</br>
		<input type ='radio'  name='gender' value ='Female'>Female</br>
	</br>


<input type='submit' value='Create'>

</form>

</body>
</html>
